<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 唯一新增的权限：可选的「页面信息抓取」。应用默认不联网，
         只有用户在设置里主动打开开关、并对某条收藏手动点击时才会发起请求。 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 应用内自更新：下载自己的新版 APK 后交给系统安装器。
         首次更新需要用户在系统里允许「安装未知应用」；
         除此之外应用不会安装任何其他东西。 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application android:label="链藏" android:icon="@drawable/ic_vault" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true" android:theme="@style/Theme.LinkVault">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/html"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <!-- 自更新下载的 APK 只存放在应用私有 cache 下的 updates/ 目录，
             通过 FileProvider 单次授权给系统安装器，不对外暴露任何目录。 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updates"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
